{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style>
       td{
         height: 100px;
       }
       .btnWrapper{
           height: 100%;
           display: flex;
           gap:10px;
           flex-direction: column;
       }
    </style>
{% endblock %}



{% block title %}Użytkownicy{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <h2>Użytkownicy</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
{#                <th>Password</th>#}
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
{#                <td>{{ user.password }}</td>#}
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <div class="btnWrapper">
                    <a class="profileButton" href="{{ path('app_user_crud_show', {'id': user.id}) }}">Wyświetl</a>
                    <a class="profileButton" href="{{ path('app_user_crud_edit', {'id': user.id}) }}">Edytuj</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="profileButton" href="{{ path('app_user_crud_new') }}">Utwórz</a>
    <a class="profileButton" href="{{ path('admin_panel') }}">Wróć</a>
{% endblock %}
