{% extends 'admin/base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <h2>Użytkownik</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="profileButton" href="{{ path('app_user_crud_index') }}">Wróć</a>

    <a class="profileButton" href="{{ path('app_user_crud_edit', {'id': user.id}) }}">Edytuj</a>

    {{ include('admin/user_crud/_delete_form.html.twig') }}
{% endblock %}
