{% block head %}
    <head>
        {% block title %}<title>Strona główna - Netflix</title>{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: 'Netflix Sans Regular', "Helvetica Neue", "Helvetica", Arial, sans-serif;
            background-color: black;
            color: white;
        }

        h5 {
            font-size: 20px;
        }

        #main {
            display: flex;
        }

        a.active {
            font-weight: 900;

        }

        .navbar {
            padding-top: 0px;
            overflow: hidden;
            width: 96%;
            margin-left: 40px;
            gap: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

        .navbar a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            /*padding: 14px 16px;*/
            text-decoration: none;
            font-size: 14px;
        }

        .navbar_end {
            gap: 20px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .navbar a:hover {
            opacity: 0.8;
        }

        .logo {
            /*margin-top: -3px;*/
        }

        #search {
            display: flex;
            float: right;
        }

        a.right {
            float: right;
            padding: 13px 0;
            align-items: center;
        }

        .box {
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            grid-gap: 25px;
            /*grid-template-columns: repeat(6, calc(1% - 40px));*/
            grid-template-columns:
                repeat(6, minmax(270px, 1fr));
            /*grid-template-rows: minmax(150px, 1fr);*/
        }

        box a {
            transition: transform 0.3s;
        }

        .box a:hover {
            transition: transform 0.3s;
            -ms-transform: scale(1.3);
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

        .box img {
            border-radius: 2px;
            max-width: 270px;
            width: auto;
            height: auto;
        }

        #search {
            margin-top: 12px;
        }

        #main-container {
            margin-left: 30px;
        }

        .searchInput {
            font-family: var(--bs-body-font-family), bootstrap-icons;
        }

        i {
            font-size: 23px;
            margin-top: 8px;
            margin-right: 8px;
        }

        .logo {
            height: 31px;
            margin-right: 15px;
        }

        .brandLogoWrapper {
            width: 113px;
            justify-content: center;
        }

        .userAvatar {
            width: 30px;
            border-radius: 4px;
        }

    </style>
{% endblock %}

{% block navigation %}
    <div class="navbar">
        <div class="brandLogoWrapper">
            <a class="logo" href="/" target="_parent">
                <img class="logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="av1"/>
            </a>
        </div>
        <a {% if app.request.attributes.get('_route') in
            'browse' %} class="active" {% endif %}
                href="/browse">Strona główna</a>
        <a {% if app.request.attributes.get('_route') in
            'shows' %} class="active" {% endif %}
                href="/shows">Seriale i programy</a>
        <a {% if app.request.attributes.get('_route') in
            'movies' %} class="active" {% endif %}
                href="/movies">Filmy</a>
        <a {% if app.request.attributes.get('_route') in
            'new' %} class="active" {% endif %}
                href="/new">Nowe i popularne</a>
        <a {% if app.request.attributes.get('_route') in
            'myList' %} class="active" {% endif %}
                href="/myList">Moja lista</a>
        <div class="navbar_end">
            <div id="search">
                {#                <i class="bi bi-search"></i> #}
                <form method="GET" action="{{ path('search') }}">

                    <input
                            name="v"
                            type="search"
                            class="form-control searchInput"
                            placeholder="&#xF52A;  Wyszukaj.."
                            aria-label="Search"
                    >
                </form>
            </div>
            <a class="right" href="/notif">
                <i style="padding: 1px;margin-left: 10px" class="bi bi-bell-fill"></i>
            </a>
            <a class="right" href="/profile">
                <img class="userAvatar" src="{{ userAvatar }}" alt="avatar">
                {#                <i style="padding: 1px" class="bi bi-person-circle"></i> #}
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
<body>
{#<div class="btn-group">#}
{#    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#        Action#}
{#    </button>#}
{#    <div class="dropdown-menu">#}
{#        <a class="dropdown-item" href="#">Action</a>#}
{#        <a class="dropdown-item" href="#">Another action</a>#}
{#        <a class="dropdown-item" href="#">Something else here</a>#}
{#        <div class="dropdown-divider"></div>#}
{#        <a class="dropdown-item" href="#">Separated link</a>#}
{#    </div>#}
{#</div>#}

    <section id="main-container">
        <h5 id="serials" class="title-home">Filmy</h5>
        <div class="box">
            {% for movie in movies %}
                <a href="/show/{{ movie.id }}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
            {% endfor %}

        </div>
        <h5 id="serials" class="title-home">Seriale</h5>
        <div class="box">
            {% for movie in shows %}
                <a href="/show/{{ movie.id }}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
            {% endfor %}
        </div>

        <h5 id="movies" class="title-home">Tylko na Netflixie</h5>
        <div class="box">
            {% for movie in originals %}
                <a href="/show/{{ movie.id }}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
            {% endfor %}
        </div>

        <h5 id="popular" class="title-home">Popularne</h5>
        <div class="box">
{#            {% for movie in popular %}#}
{#                <a href="/show/{{ movie.id }}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>#}
{#            {% endfor %}#}
        </div>

    </section>

    </body>

{% endblock %}
