{#{% extends 'base.html.twig' %}#}

{% block javascript %}
<script>
    function scrollLeft() {
    var element = document.getElementsByClassName('box');
    console.log(element);
    element.scrollLeft += 20;
}
</script>

{% endblock %}


{% block stylesheets %}
<style>
    body {
        background-color: black;
        color: white;
    }
    #main {
        display: flex;
    }
    .navbar {
        margin-top: 9px;
        width: 100%;
        overflow: hidden;
    }
    a.active {
        font-weight: 900;
    }
    .navbar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        opacity: 0.8;
    }
    .logo {
        margin-top: -3px;
    }
    .search {
        width: 20%;
        float: right;
    }
    a.right {
        float: right;
    }
    .notif {
        float: left;
        width: 32%;
    }
    .box {
        margin-left: 20px;
        display: flex;
        grid-gap: 25px;

        /*grid-template-columns: repeat(6, minmax(100px, 1fr));*/
    }
    box a {
        transition: transform 0.3s;
    }

    .box a:hover {
        transition: transform 0.3s;
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .box img {
        border-radius: 2px;
        max-width:270px;
        width: auto;
        height: auto;
    }
    #search {
        margin-top: 12px;
    }
    #main-container{
        overflow-x: scroll;
        margin-left: 30px;
    }
</style>
{% endblock %}

{% block body %}

    {% block logo %}

    {% endblock %}
    {% block navigation %}
        <div class="navbar">
            <div class="brandLogoWrapper">
                <a class="logo" href="/" target="_parent">
                    <img class="logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="av1"/>
                </a>
            </div>
            <a {% if app.request.attributes.get('_route') in
                'browse' %} class="active" {% endif %}
                    href="/browse">Strona główna</a>
            <a  {% if app.request.attributes.get('_route') in
                'serials' %} class="active" {% endif %}
                    href="/serials">Seriale i programy</a>
            <a  {% if app.request.attributes.get('_route') in
                'movies' %} class="active" {% endif %}
                    href="/movies">Filmy</a>
            <a  {% if app.request.attributes.get('_route') in
                'new' %} class="active" {% endif %}
                    href="/new">Nowe i popularne</a>
            <a  {% if app.request.attributes.get('_route') in
                'myList' %} class="active" {% endif %}
                    href="/like">Moja lista</a>
                <a class="right" href="/notif">
                    <img class="notif" src="{{ asset('images/notif.png') }}" alt="av1"/>
                </a>
            <div id="search">
                    <form method="GET" action="{{ path('search') }}" >
                        <input
                            name="v"
                            type="search"
                            class="form-control"
                            placeholder="Wyszukaj.."
                            aria-label="Search"
                        >
                    </form>
            </div>
{#                    <img class="search" src="{{ asset('images/search.png') }}" alt="av1"/>#}
                </a>

        </div>
    {% endblock %}
    </div>
<section id="main-container">

    <h1 id="serials" class="title-home">Filmy</h1>
    <div class="box">
        {% for movie in movies %}
            <a href="/show/{{movie.id}}"><img src="{{movie.img}}" alt="{{movie.title}}"></a>
        {% endfor %}
    </div>
    <button id="slide" onclick="scrollLeft()"  type="button">Slide right</button>

    <h1 id="serials" class="title-home">Seriale</h1>
    <div class="box">
        {% for movie in serials %}
            <a href="/show/{{movie.id}}"><img src="{{movie.img}}" alt="{{movie.title}}"></a>
        {% endfor %}
    </div>
    <button id="slide" type="button">Slide right</button>

    <h1 id="movies" class="title-home">Tylko na Netflxie</h1>
    <div class="box">
        {% for movie in originals %}
            <a href="/show/{{movie.id}}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
        {% endfor %}
    </div>

    <h1 id="movies" class="title-home">Popularne</h1>
    <div class="box">
        {% for movie in popular %}
            <a href="/show/{{movie.id}}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
        {% endfor %}
    </div>

</section>

    <body></body>

{% endblock %}
