{% extends 'root.html.twig' %}

{% block head %}
        {{ parent() }}
        {% block title %}
            {% if app.request.attributes.get('_route') in 'browse' %}
                <title>Strona główna - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'shows' %}
                <title>Seriale i programy - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'movies' %}
                <title>Filmy - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'new' %}
                <title>Nowe i popularne - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'myList' %}
                <title>Moja lista - Netflix</title>
            {% endif %}
        {% endblock %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/movieIndex.css') }}">
{% endblock %}

{% block navigation %}
    <div class="navbar_wrapper">
        <div class="navbar">
            <a href="/" target="_parent">
                <img class="navbar_logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="netflix_logo"/>
            </a>
            <a {% if app.request.attributes.get('_route') in
                'browse' %} class="active" {% endif %}
                    href="{{ path('browse') }}">Strona główna</a>
            <a {% if app.request.attributes.get('_route') in
                'shows' %} class="active" {% endif %}
                    href="{{ path('shows') }}">Seriale i programy</a>
            <a {% if app.request.attributes.get('_route') in
                'movies' %} class="active" {% endif %}
                    href="{{ path('movies') }}">Filmy</a>
            <a {% if app.request.attributes.get('_route') in
                'new' %} class="active" {% endif %}
                    href="{{ path('new') }}">Nowe i popularne</a>
            <a {% if app.request.attributes.get('_route') in
                'myList' %} class="active" {% endif %}
                    href="{{ path('myList') }}">Moja lista</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_panel') }}" style="color: red">Przejdź do panelu administratora</a>
            {% endif %}

            <div class="navbar_end">
                <div id="search">
                    <form method="GET" action="{{ path('search') }}">
                        <input
                                name="v"
                                type="search"
                                class="searchInput"
                                placeholder="&nbsp; &nbsp; &#xF52A; &nbsp;Wyszukaj.."
                                aria-label="Search"
                        >
                    </form>
                </div>
                <a class="right" href="{{ path('notif') }}">
                    <i style="padding: 1px;margin-left: 10px" class="bi bi-bell-fill"></i>
                </a>
            </div>

        </div>
{#             TODO: dropdown to reusable twig component?        #}
        <div class="dropdown">
            <a class="right dropbtn" href="{{ path('profile') }}">
                <img class="userAvatar" src="{{ userAvatar }}" alt="avatar">
                <div class="dropdown-content">
                    {% set profile_index = 0 %}

                    {% for profile in profiles %}
                        <a class="profile-nav-container" href="{{ path('changeProfile', {'index': profile_index }) }}">
                            <p class="profile-nav-name">{{ profile.name }}</p>
                            <img class="profile-nav-avatar" alt="profile img" src="{{ profile.avatar }}">
                        </a>
                        {% set profile_index = profile_index + 1 %}
                    {% endfor %}
                    <a href="{{ path('manageUser') }}"> &#xF4CB; Zarządzaj profilami</a>
                    <hr>
                    <a style="margin-bottom: 15px" href="{{ path('profile') }}">Konto</a>
                    <a href="#">Centrum Pomocy</a>
                    <hr>
                    <a style="margin-bottom: 15px" href="{{ path('app_logout') }}">Wyloguj się</a>

                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <body>
    <section class="movie_container">
        <h1 id="movies" class="category_label">Filmy</h1>
        <div class="movie">
            {% for movie in movies %}
            <a class="movie-hero" href="{{ path('watch-one', {'id': movie.id}) }}">
                <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
            </a>
                {#            TODO: separate commented to reusable component #}
                {{ component('MovieModal', { movie: movie }) }}

                {#                <a class="movie-hero" onclick="showModal({{ movie.id }})#}
{#                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'#}
{#                        ">#}
{#                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">#}
{#                </a>#}
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <a class="hide-button-wrapper"#}
{#                       href="{{ path('hide', {'id': movie.id}) }}">#}
{#                        <div class="hide-button">#}
{#                            <i class="bi bi-arrow-bar-left"></i>#}
{#                        </div>#}
{#                    </a>#}
{#                {% endif %}#}
{#                <div id="modal{{ movie.id }}" class="modal"#}
{#                     onclick="hideModal({{ movie.id }})"#}
{#                >#}
{#                    <div class="modal-background" onclick="hideModal({{ movie.id }})">#}
{#                    </div>#}
{#                    <div class="modal-sizing">#}
{#                        <div class="modal-content" id="modal-content">#}
{#                            <div class="modal-header"#}
{#                                    #}{#                                 style="background-image: url({{ movie.img }})" #}
{#                            >#}
{#                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"#}
{#                                   style="text-decoration: none">#}
{#                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">#}
{#                                </a>#}

{#                                <div class="exit-button">#}
{#                                    <span onclick="hideModal({{ movie.id }})"#}
{#                                          class="bi bi-x-circle-fill modal-exit"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="modal-desc">#}
{#                                <div class="modal-movie-info-primary">#}
{#                                    <h2 class="modal-title">{{ movie.title }}</h2>#}
{#                                    <p class="modal-movie-description">{{ movie.description }}</p>#}
{#                                </div>#}
{#                                <div class="modal-movie-info-secondary">#}
{#                                    {{ movie.year }}#}
{#                                    #}{#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
{#                                    <div class="modal-movie-info-secondary-categories">#}
{#                                        <p style="color: gray;display: inline-block">Kategorie:</p>#}
{#                                        {% set categoryArray = { } %}  #}{# initialize category array #}
{#                                        {% for key, category in movie.categories %}#}
{#                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} #}{# merge to the array, convert key to string, int doesnt work #}
{#                                        {% endfor %}#}
{#                                        {{ categoryArray|join(', ') }}  #}{# implode array #}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                {% if is_granted('ROLE_ADMIN') %}#}
{#                                    <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            <div style="margin-top: 20px">#}
{#                                {% if movie.isLiked == true %}#}
{#                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>#}
{#                                {% else %}#}
{#                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            {% if movie.episodes != null %}#}
{#                                <div class="modal-movie-episodes">#}
{#                                    <div class="modal-movie-episodes-header">#}
{#                                        <p>Odcinki</p>#}
{#                                        <label>#}
{#                                            <select>#}
{#                                                <option>Sezon 1</option>#}
{#                                                <option>Sezon 2</option>#}
{#                                            </select>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="episode-wrapper">#}
{#                                        {% for key, episode in movie.episodes %}#}
{#                                            <div class="season{{ episode.season }}">#}
{#                                                <a href="{{ path('watch-one', {'id': episode.id}) }}">#}
{#                                                    <div class="episode">#}
{#                                                        <div class="episode-image">#}
{#                                                            <div class="episode-number-wrapper">#}
{#                                                                <div class="episode-number">{{ key }}</div>#}
{#                                                            </div>#}
{#                                                            <img style="height: 100px;margin-right: 20px;border-radius: 4px"#}
{#                                                                 src="{{ asset('images/episode.jpg') }}"#}
{#                                                                 alt="episode_image"/>#}
{#                                                        </div>#}
{#                                                        <div class="episode-content">#}
{#                                                            <div class="episode-title">#}
{#                                                                {{ episode.name }}#}
{#                                                            </div>#}
{#                                                            <div class="episode-description">#}
{#                                                                {{ episode.description }}#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            {% endfor %}
        </div>

        <h1 id="shows" class="category_label">Seriale</h1>
        <div class="movie">
            {% for movie in shows %}
                <a class="movie-hero" href="{{ path('watch-one', {'id': movie.id}) }}">
                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                </a>
{#                #}
{#                <a class="movie-hero" onclick="showModal({{ movie.id }})#}
{#                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'#}
{#                        ">#}
{#                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">#}
{#                </a>#}
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <a class="hide-button-wrapper"#}
{#                       href="{{ path('hide', {'id': movie.id}) }}">#}
{#                        <div class="hide-button">#}
{#                            <i class="bi bi-arrow-bar-left"></i>#}
{#                        </div>#}
{#                    </a>#}
{#                {% endif %}#}
{#                <div id="modal{{ movie.id }}" class="modal">#}
{#                    <div class="modal-background" onclick="hideModal({{ movie.id }})">#}
{#                    </div>#}
{#                    <div class="modal-sizing">#}
{#                        <div class="modal-content" id="modal-content">#}
{#                            <div class="modal-header"#}
{#                                    #}{#                                 style="background-image: url({{ movie.img }})" #}
{#                            >#}
{#                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"#}
{#                                   style="text-decoration: none">#}
{#                                    <iframe class="modal-image" src="{{movie.link}}?autoplay=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">#}
{#                                    </iframe>#}
{#                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">#}
{#                                </a>#}

{#                                <div class="exit-button">#}
{#                                    <span onclick="hideModal({{ movie.id }})"#}
{#                                          class="bi bi-x-circle-fill modal-exit"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="modal-desc">#}
{#                                <div class="modal-movie-info-primary">#}
{#                                    <h2 class="modal-title">{{ movie.title }}</h2>#}
{#                                    <p class="modal-movie-description">{{ movie.description }}</p>#}
{#                                </div>#}
{#                                <div class="modal-movie-info-secondary">#}
{#                                    {{ movie.year }}#}
{#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
{#                                    <div class="modal-movie-info-secondary-categories">#}
{#                                        <p style="color: gray;display: inline-block">Kategorie:</p>#}
{#                                        {% set categoryArray = { } %}  #}{# initialize category array #}
{#                                        {% for key, category in movie.categories %}#}
{#                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} #}{# merge to the array, convert key to string, int doesnt work #}
{#                                        {% endfor %}#}
{#                                        {{ categoryArray|join(', ') }}  #}{# implode array #}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                            {% if is_granted('ROLE_ADMIN') %}#}
{#                                <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>#}
{#                            {% endif %}#}
{#                            </div>#}
{#                            <div style="margin-top: 20px">#}
{#                            {% if movie.isLiked == true %}#}
{#                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>#}
{#                                {% else %}#}
{#                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>#}
{#                            {% endif %}#}
{#                            </div>#}
{#                            {% if movie.episodes != null %}#}
{#                                <div class="modal-movie-episodes">#}
{#                                    <div class="modal-movie-episodes-header">#}
{#                                        <p>Odcinki</p>#}
{#                                        <label>#}
{#                                            <select>#}
{#                                                    {% for episode in movie.episodes %}#}
{#                                                                <option value="{{ episode.season }}">{{ episode.season }}</option>#}
{#                                                    {% endfor %}#}
{#                                            </select>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="episode-wrapper">#}
{#                                    {% for key, episode in movie.episodes %}#}
{#                                        <div class="season{{ episode.season }}">#}
{#                                            <a href="{{ path('watch-one', {'id': episode.id}) }}">#}
{#                                            <div class="episode">#}
{#                                                <div class="episode-image">#}
{#                                                    <div class="episode-number-wrapper">#}
{#                                                        <div class="episode-number">{{ key }}</div>#}
{#                                                    </div>#}
{#                                                    <img style="height: 100px;margin-right: 20px;border-radius: 4px"#}
{#                                                         src="{{ asset('images/episode.jpg') }}"#}
{#                                                         alt="episode_image"/>#}
{#                                                </div>#}
{#                                                <div class="episode-content">#}
{#                                                    <div class="episode-title">#}
{#                                                        {{ episode.name }}#}
{#                                                    </div>#}
{#                                                    <div class="episode-description">#}
{#                                                        {{ episode.description }}#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            {% endfor %}
        </div>
        <h1 id="movies" class="category_label">Tylko na Netflixie</h1>
        <div class="movie">
            {% for movie in originals %}
                <a class="movie-hero" href="{{ path('watch-one', {'id': movie.id}) }}">
                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                </a>
{#                #}
{#                <a class="movie-hero" onclick="showModal({{ movie.id }})#}
{#                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'#}
{#                        ">#}
{#                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">#}
{#                </a>#}
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <a class="hide-button-wrapper"#}
{#                       href="{{ path('hide', {'id': movie.id}) }}">#}
{#                        <div class="hide-button">#}
{#                            <i class="bi bi-arrow-bar-left"></i>#}
{#                        </div>#}
{#                    </a>#}
{#                {% endif %}#}
{#                <div id="{{ movie.id }}" class="modal">#}
{#                    <div class="modal-background" onclick="hideModal({{ movie.id }})"></div>#}
{#                    <div class="modal-sizing">#}
{#                        <div class="modal-content" id="modal-content">#}
{#                            <div class="modal-header"#}
{#                                    #}{#                                 style="background-image: url({{ movie.img }})" #}
{#                            >#}
{#                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"#}
{#                                   style="text-decoration: none">#}
{#                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">#}
{#                                </a>#}

{#                                <div class="exit-button">#}
{#                                    <span onclick="hideModal({{ movie.id }})"#}
{#                                          class="bi bi-x-circle-fill modal-exit"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="modal-desc">#}
{#                                <div class="modal-movie-info-primary">#}
{#                                    <h2 class="modal-title">{{ movie.title }}</h2>#}
{#                                    <p class="modal-movie-description">{{ movie.description }}</p>#}
{#                                </div>#}
{#                                <div class="modal-movie-info-secondary">#}
{#                                    {{ movie.year }}#}
{#                                    #}{#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
{#                                    <div class="modal-movie-info-secondary-categories">#}
{#                                        <p style="color: gray;display: inline-block">Kategorie:</p>#}
{#                                        {% set categoryArray = { } %}  #}{# initialize category array #}
{#                                        {% for key, category in movie.categories %}#}
{#                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} #}{# merge to the array, convert key to string, int doesnt work #}
{#                                        {% endfor %}#}
{#                                        {{ categoryArray|join(', ') }}  #}{# implode array #}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div>#}
{#                                {% if is_granted('ROLE_ADMIN') %}#}
{#                                    <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            <div style="margin-top: 20px">#}
{#                                {% if movie.isLiked == true %}#}
{#                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>#}
{#                                {% else %}#}
{#                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                            {% if movie.episodes != null %}#}
{#                                <div class="modal-movie-episodes">#}
{#                                    <div class="modal-movie-episodes-header">#}
{#                                        <p>Odcinki</p>#}
{#                                        <label>#}
{#                                            <select>#}

{#                                                {% set unique = seasonArray|unique %}#}

{#                                                {% set seasonArray = {} %}#}
{#                                                    {% for key, episode in movie.episodes %}#}
{#                                                        {% if episode not in seasonArray %}#}
{#                                                        {% set seasonArray = seasonArray|merge({(key~'_'): episode}) %}#}
{#                                                            {% for season in seasonArray %}#}
{#                                                            <option value="{{ season.season }}">{{ season.season }}</option>#}
{#                                                            {% endfor %}#}
{#                                                        {% endif %}#}
{#                                                {% endfor %}#}


{#                                                {% set seasonArray = [] %}#}
{#                                                    {% for key, episode in movie.episodes %}#}
{#                                                        {% if episode not in seasonArray %}#}
{#                                                            <option value="{{ episode.season }}">{{ episode.season }}</option>#}
{#                                                        {% set seasonArray = seasonArray|merge([episode]) %}#}
{#                                                        {% endif %}#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="episode-wrapper">#}
{#                                        {% for key, episode in movie.episodes %}#}
{#                                            <div class="season{{ episode.season }}">#}
{#                                                <a href="{{ path('watch-one', {'id': episode.id}) }}">#}
{#                                                    <div class="episode">#}
{#                                                        <div class="episode-image">#}
{#                                                            <div class="episode-number-wrapper">#}
{#                                                                <div class="episode-number">{{ key }}</div>#}
{#                                                            </div>#}
{#                                                            <img style="height: 100px;margin-right: 20px;border-radius: 4px"#}
{#                                                                 src="{{ asset('images/episode.jpg') }}"#}
{#                                                                 alt="episode_image"/>#}
{#                                                        </div>#}
{#                                                        <div class="episode-content">#}
{#                                                            <div class="episode-title">#}
{#                                                                {{ episode.name }}#}
{#                                                            </div>#}
{#                                                            <div class="episode-description">#}
{#                                                                {{ episode.description }}#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            {% endfor %}
        </div>

    </section>

    </body>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('app') }}
<script>

function hideModal(modalId) {
    document.getElementById('modal' . modalId).style.display = 'none'
}

function showModal(modalId) {
    document.getElementById('modal' . modalId).style.display = 'block'
}

function selectSeason(seasonId) {
var select = document.getElementById('language');
    $('#language').val();
                    // TODO: select list of seasons

                   // if a season is picked, hide other seasons, show only one
}


</script>
{% endblock %}

{% block footer %} {% endblock %}