{#{% extends 'base.html.twig' %}#}


{% block stylesheets %}
<style>
    body {
        background-color: black;
        color: white;
    }
    #main{
        display: flex;
    }
    .navbar {
        margin-top: 9px;
        width: 100%;
        overflow: hidden;

    }
    .navbar a {

        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }
    .navbar a:hover {
        opacity: 0.8;
    }
    .navbar a.first {
        font-weight: 900;

    }
    .logo {
        margin: 15px;

    }
    .search {
        width: 20%;
        float: right;
    }
    a.right {
        float: right;
    }
    .notif{
        float: left;
        width: 32%;
    }

    .box{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, minmax(100px, 1fr));
    }
    box a {
        transition: transform 0.3s;
    }

    .box a:hover {
        transition: transform 0.3s;
        -ms-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }

    .box img {
        border-radius: 2px;
        max-width:200px;
        max-height:150px;
        width: auto;
        height: auto;
    }

</style>
{% endblock %}
{% block body %}
    <body></body>
    {% block navigation %}
    <div id="main">
        <div class="brandLogoWrapper">
            <a class="logo" href="/" target="_parent">
                <img class="logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="av1"/>
            </a>
        </div>

        <div class="navbar">
                <a class="first" href="/movieList">Strona główna</a>
                <a class="second" href="/serials">Seriale i programy</a>
                <a class="third" href="/movies">Filmy</a>
                <a class="fourth" href="/new">Nowe i popularne</a>
                <a class="fifth" href="/like">Moja lista</a>
                <a class="right" href="/notif">
                    <img class="notif" src="{{ asset('images/notif.png') }}" alt="av1"/>
                </a>
                <a class="right" href="/search">
                    <img class="search" src="{{ asset('images/search.png') }}" alt="av1"/>
                </a>

        </div>
    </div>
<section class="main-container">
        <div class="location" id="home">
            <h1 id="home" class="title-home">Popularne w serwisie Netflix</h1>
            <div class="box">
                {% for movie in popular %}
                    <a href="/show/{{movie.id}}"><img src="{{movie.img}}" alt="{{movie.title}}"></a>
                {% endfor %}
            </div>
        </div>
    <h1 id="serials" class="title-home">Seriale</h1>
    <div class="box">
        {% for movie in serials %}
            <a href="/show/{{movie.id}}"><img src="{{movie.img}}" alt="{{movie.title}}"></a>
        {% endfor %}
    </div>
    <h1 id="movies" class="title-home">Filmy</h1>
    <div class="box">
        {% for movie in movies %}
            <a href="/show/{{movie.id}}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
        {% endfor %}
    </div>
    <h1 id="originals" class="title-home">Tylko na Netflix</h1>
    <div class="box">
        {% for movie in exclusive %}
            <a href="/show/{{ movie.id }}"><img src="{{ movie.img }}" alt="{{ movie.title }}"></a>
        {% endfor %}
    </div>
</section>
    {% endblock %}


{% endblock %}
