{% block head %}
    <head>
        {% block title %}
            {% if app.request.attributes.get('_route') in 'browse' %}
                <title>Strona główna - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'shows' %}
                <title>Seriale i programy - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'movies' %}
                <title>Filmy - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'new' %}
                <title>Nowe i popularne - Netflix</title>
            {% endif %}
            {% if app.request.attributes.get('_route') in 'myList' %}
                <title>Moja lista - Netflix</title>
            {% endif %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    </head>
{% endblock %}

{% block navigation %}
    <div class="navbar_wrapper">
        <div class="navbar">
            <a href="/" target="_parent">
                <img class="navbar_logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="netflix_logo"/>
            </a>
            <a {% if app.request.attributes.get('_route') in
                'browse' %} class="active" {% endif %}
                    href="{{ path('browse') }}">Strona główna</a>
            <a {% if app.request.attributes.get('_route') in
                'shows' %} class="active" {% endif %}
                    href="{{ path('shows') }}">Seriale i programy</a>
            <a {% if app.request.attributes.get('_route') in
                'movies' %} class="active" {% endif %}
                    href="{{ path('movies') }}">Filmy</a>
            <a {% if app.request.attributes.get('_route') in
                'new' %} class="active" {% endif %}
                    href="{{ path('new') }}">Nowe i popularne</a>
            <a {% if app.request.attributes.get('_route') in
                'myList' %} class="active" {% endif %}
                    href="{{ path('myList') }}">Moja lista</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_panel') }}" style="color: red">Przejdź do panelu administratora</a>
            {% endif %}

            <div class="navbar_end">
                <div id="search">
                    <form method="GET" action="{{ path('search') }}">
                        <input
                                name="v"
                                type="search"
                                class="searchInput"
                                placeholder="&nbsp; &nbsp; &#xF52A; &nbsp;Wyszukaj.."
                                aria-label="Search"
                        >
                    </form>
                </div>
                <a class="right" href="{{ path('notif') }}">
                    <i style="padding: 1px;margin-left: 10px" class="bi bi-bell-fill"></i>
                </a>
            </div>

        </div>
        <div class="dropdown">
            <a class="right dropbtn" href="{{ path('profile') }}">
                <img class="userAvatar" src="{{ userAvatar }}" alt="avatar">
                <div class="dropdown-content">
                    {% set profile_id = 0 %}

                    {% for profile in profiles %}
                        <form id="changeProfile" method="POST">
                            <div class="dropdown-profile">
                                <a class="profile_wrapper">
                                    <input
                                            class="form-control"
                                            id="text"
                                            type="hidden"
                                            name="id"
                                            value="{{ profile_id }}"
                                    >
                                    <input
                                            class="form-control"
                                            id="text"
                                            type="image"
                                            name="id"
                                            value="{{ profile.avatar }}"
                                            src="{{ profile.avatar }}"
                                    >
                                    <button class="dropdown_submit">{{ profile.name }}</button>
                                </a>
                            </div>
                        </form>
                        {% set profile_id = profile_id + 1 %}
                    {% endfor %}
                    <a href="{{ path('manageUser') }}"> &#xF4CB; Zarządzaj profilami</a>
                    <hr>
                    <a style="margin-bottom: 15px" href="{{ path('profile') }}">Konto</a>
                    <a href="#">Centrum Pomocy</a>
                    <hr>
                    <a style="margin-bottom: 15px" href="{{ path('app_logout') }}">Wyloguj się</a>

                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <body>
    <section class="movie_container">
        <h1 id="movies" class="category_label">Filmy</h1>
        <div class="movie">
            {% for movie in movies %}
                <a class="movie-hero" onclick="showModal({{ movie.id }})
                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'
                        ">
                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="hide-button-wrapper"
                       href="{{ path('hide', {'id': movie.id}) }}">
                        <div class="hide-button">
                            <i class="bi bi-arrow-bar-left"></i>
                        </div>
                    </a>
                {% endif %}
                <div id="{{ movie.id }}" class="modal"
{#                     onclick="hideModal({{ movie.id }})"#}
                >
                    <div class="modal-background">
                    </div>
                    <div class="modal-sizing">
                        <div class="modal-content" id="modal-content">
                            <div class="modal-header"
                                    {#                                 style="background-image: url({{ movie.img }})" #}
                            >
                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"
                                   style="text-decoration: none">
                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">
                                </a>

                                <div class="exit-button">
                                    <span onclick="hideModal({{ movie.id }})"
                                          class="bi bi-x-circle-fill modal-exit"></span>
                                </div>
                            </div>
                            <div class="modal-desc">
                                <div class="modal-movie-info-primary">
                                    <h2 class="modal-title">{{ movie.title }}</h2>
                                    <p class="modal-movie-description">{{ movie.description }}</p>
                                </div>
                                <div class="modal-movie-info-secondary">
                                    {{ movie.year }}
                                    {#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
                                    <div class="modal-movie-info-secondary-categories">
                                        <p style="color: gray;display: inline-block">Kategorie:</p>
                                        {% set categoryArray = { } %}  {# initialize category array #}
                                        {% for key, category in movie.categories %}
                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} {# merge to the array, convert key to string, int doesnt work #}
                                        {% endfor %}
                                        {{ categoryArray|join(', ') }}  {# implode array #}
                                    </div>
                                </div>
                            </div>
                            <div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>
                                {% endif %}
                            </div>
                            <div style="margin-top: 20px">
                                {% if movie.isLiked == true %}
                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>
                                {% else %}
                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>
                                {% endif %}
                            </div>
                            {% if movie.episodes != null %}
                                <div class="modal-movie-episodes">
                                    <div class="modal-movie-episodes-header">
                                        <p>Odcinki</p>
                                        <label>
                                            <select>
                                                <option>Sezon 1</option>
                                                <option>Sezon 2</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="episode-wrapper">
                                        {% for key, episode in movie.episodes %}
                                            <div class="season{{ episode.season }}">
                                                <a href="{{ path('watch-one', {'id': episode.id}) }}">
                                                    <div class="episode">
                                                        <div class="episode-image">
                                                            <div class="episode-number-wrapper">
                                                                <div class="episode-number">{{ key }}</div>
                                                            </div>
                                                            <img style="height: 100px;margin-right: 20px;border-radius: 4px"
                                                                 src="{{ asset('images/episode.jpg') }}"
                                                                 alt="episode_image"/>
                                                        </div>
                                                        <div class="episode-content">
                                                            <div class="episode-title">
                                                                {{ episode.name }}
                                                            </div>
                                                            <div class="episode-description">
                                                                {{ episode.description }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h1 id="shows" class="category_label">Seriale</h1>
        <div class="movie">
            {% for movie in shows %}
                <a class="movie-hero" onclick="showModal({{ movie.id }})
                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'
                        ">
                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="hide-button-wrapper"
                       href="{{ path('hide', {'id': movie.id}) }}">
                        <div class="hide-button">
                            <i class="bi bi-arrow-bar-left"></i>
                        </div>
                    </a>
                {% endif %}
                <div id="{{ movie.id }}" class="modal" onclick="hideModal({{ movie.id }})">
                    <div class="modal-background">
                    </div>
                    <div class="modal-sizing">
                        <div class="modal-content" id="modal-content">
                            <div class="modal-header"
                                    {#                                 style="background-image: url({{ movie.img }})" #}
                            >
                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"
                                   style="text-decoration: none">
                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">
                                </a>

                                <div class="exit-button">
                                    <span onclick="hideModal({{ movie.id }})"
                                          class="bi bi-x-circle-fill modal-exit"></span>
                                </div>
                            </div>
                            <div class="modal-desc">
                                <div class="modal-movie-info-primary">
                                    <h2 class="modal-title">{{ movie.title }}</h2>
                                    <p class="modal-movie-description">{{ movie.description }}</p>
                                </div>
                                <div class="modal-movie-info-secondary">
                                    {{ movie.year }}
{#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
                                    <div class="modal-movie-info-secondary-categories">
                                        <p style="color: gray;display: inline-block">Kategorie:</p>
                                        {% set categoryArray = { } %}  {# initialize category array #}
                                        {% for key, category in movie.categories %}
                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} {# merge to the array, convert key to string, int doesnt work #}
                                        {% endfor %}
                                        {{ categoryArray|join(', ') }}  {# implode array #}
                                    </div>
                                </div>
                            </div>
                            <div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>
                            {% endif %}
                            </div>
                            <div style="margin-top: 20px">
                            {% if movie.isLiked == true %}
                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>
                                {% else %}
                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>
                            {% endif %}
                            </div>
                            {% if movie.episodes != null %}
                                <div class="modal-movie-episodes">
                                    <div class="modal-movie-episodes-header">
                                        <p>Odcinki</p>
                                        <label>
                                            <select>
                                                <option>Sezon 1</option>
                                                <option>Sezon 2</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="episode-wrapper">
                                    {% for key, episode in movie.episodes %}
                                        <div class="season{{ episode.season }}">
                                            <a href="{{ path('watch-one', {'id': episode.id}) }}">
                                            <div class="episode">
                                                <div class="episode-image">
                                                    <div class="episode-number-wrapper">
                                                        <div class="episode-number">{{ key }}</div>
                                                    </div>
                                                    <img style="height: 100px;margin-right: 20px;border-radius: 4px"
                                                         src="{{ asset('images/episode.jpg') }}"
                                                         alt="episode_image"/>
                                                </div>
                                                <div class="episode-content">
                                                    <div class="episode-title">
                                                        {{ episode.name }}
                                                    </div>
                                                    <div class="episode-description">
                                                        {{ episode.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h1 id="movies" class="category_label">Tylko na Netflixie</h1>
        <div class="movie">
            {% for movie in originals %}
                <a class="movie-hero" onclick="showModal({{ movie.id }})
                        // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'
                        ">
                    <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="hide-button-wrapper"
                       href="{{ path('hide', {'id': movie.id}) }}">
                        <div class="hide-button">
                            <i class="bi bi-arrow-bar-left"></i>
                        </div>
                    </a>
                {% endif %}
                <div id="{{ movie.id }}" class="modal" onclick="hideModal({{ movie.id }})">
                    <div class="modal-background">
                    </div>
                    <div class="modal-sizing">
                        <div class="modal-content" id="modal-content">
                            <div class="modal-header"
                                    {#                                 style="background-image: url({{ movie.img }})" #}
                            >
                                <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"
                                   style="text-decoration: none">
                                    <img class="modal-image" src="{{ movie.img }}" alt="movie_image">
                                </a>

                                <div class="exit-button">
                                    <span onclick="hideModal({{ movie.id }})"
                                          class="bi bi-x-circle-fill modal-exit"></span>
                                </div>
                            </div>
                            <div class="modal-desc">
                                <div class="modal-movie-info-primary">
                                    <h2 class="modal-title">{{ movie.title }}</h2>
                                    <p class="modal-movie-description">{{ movie.description }}</p>
                                </div>
                                <div class="modal-movie-info-secondary">
                                    {{ movie.year }}
                                    {#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
                                    <div class="modal-movie-info-secondary-categories">
                                        <p style="color: gray;display: inline-block">Kategorie:</p>
                                        {% set categoryArray = { } %}  {# initialize category array #}
                                        {% for key, category in movie.categories %}
                                            {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} {# merge to the array, convert key to string, int doesnt work #}
                                        {% endfor %}
                                        {{ categoryArray|join(', ') }}  {# implode array #}
                                    </div>
                                </div>
                            </div>
                            <div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>
                                {% endif %}
                            </div>
                            <div style="margin-top: 20px">
                                {% if movie.isLiked == true %}
                                    <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>
                                {% else %}
                                    <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>
                                {% endif %}
                            </div>
                            {% if movie.episodes != null %}
                                <div class="modal-movie-episodes">
                                    <div class="modal-movie-episodes-header">
                                        <p>Odcinki</p>
                                        <label>
                                            <select>
                                                <option>Sezon 1</option>
                                                <option>Sezon 2</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="episode-wrapper">
                                        {% for key, episode in movie.episodes %}
                                            <div class="season{{ episode.season }}">
                                                <a href="{{ path('watch-one', {'id': episode.id}) }}">
                                                    <div class="episode">
                                                        <div class="episode-image">
                                                            <div class="episode-number-wrapper">
                                                                <div class="episode-number">{{ key }}</div>
                                                            </div>
                                                            <img style="height: 100px;margin-right: 20px;border-radius: 4px"
                                                                 src="{{ asset('images/episode.jpg') }}"
                                                                 alt="episode_image"/>
                                                        </div>
                                                        <div class="episode-content">
                                                            <div class="episode-title">
                                                                {{ episode.name }}
                                                            </div>
                                                            <div class="episode-description">
                                                                {{ episode.description }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

    </body>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('app') }}
<script>

function hideModal(modalId) {
    document.getElementById(modalId).style.display = 'none'
}

function showModal(modalId) {
    document.getElementById(modalId).style.display = 'block'
}

</script>
{% endblock %}


{% block stylesheets %}

    <style>


        {#======================
                Global
        ======================#}

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Netflix Sans Regular', "Helvetica Neue", "Helvetica", Arial, sans-serif;
            background-color: black;
            color: white;
        }

        select {
            background-color: #181818;
            color: white;
            border: 0 solid red ;
        }

        a {
            text-decoration: none;
        }

        a.right {
            float: right;
            padding: 13px 0;
            align-items: center;
        }

        a.active {
            font-weight: 900;

        }

        h5 {
            font-size: 20px;
        }

        i {
            font-size: 23px;
            margin-top: 8px;
            margin-right: 8px;
        }

        h1.category_label {
            font-size: 21px;
        }

        {#======================
           Modal - Movie Card
         ======================#}

        .modal {
            overflow: hidden;
        }

        .modal-background {
            position: absolute;
            background: rgba(0, 0, 0, 0.55);
            /*background-color: red;*/
            width: 100%;
            height: 150vh;
            border-radius: .3rem;
        }

        .modal-sizing {
            position: relative;
            animation: blowUpModal .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            top: 50px;
            /*left: 30%;*/
            text-align: center;
            height: 90%;
            width: 45%;
            justify-content: center;
            align-self: center;
            margin: 0 auto;
            align-content: center;
            /*border: 1px solid gray;*/
            pointer-events: none;
        }

        #modal-content::-webkit-scrollbar {
            width: 8px;
            background-color: rgba(33, 32, 32, 0.85);
        }

        #modal-content::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(91, 91, 91, 0.49);
        }

        #modal-content::-webkit-scrollbar-thumb {
            background-color: rgba(142, 15, 15, 0.85);
            outline: 1px solid slategrey;
        }


        .modal-header {
            position: relative;
            /*top: 10px;*/
            /*left: 0;*/
            /*height: 100%;*/
            /*height: 470px;*/
            /*width: 100%;*/
            overflow: hidden;
            padding: 0;
            border-bottom: 1px solid gray;
            background-size: cover;
        }

        .modal-desc {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: row;
        }

        .modal-movie-info-primary {
            margin-top: 15px;
            margin-left: 30px;
            text-align: left;
            width: 65%;
        }

        .modal-movie-info-secondary {
            margin-left: 10px;
            margin-top: 25px;
            width: 35%;
            text-align: center;
        }

        .modal-movie-info-secondary-categories {
            margin-top: 20px;
        }

        .modal-image {
            width: 100%;
            transition: transform 1s;
        }

        .modal-image:hover {
            transition: transform 1s;
            -ms-transform: scale(1.03);
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
        }

        .modal-content {
            max-height: calc(100vh + 2210px);
            overflow-y: auto;
            background-color: #181818;
            color: white;
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }

        .modal-movie-episodes {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }

        .modal-movie-episodes-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
            font-size: 24px;
            margin-left: 50px;
            margin-top: 80px;
            width: 85%;
        }

        .episode {
            cursor: pointer;
            margin-right: 50px;
            margin-left: 50px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            height: 150px;
            border-bottom: 1px solid #404040;
            border-radius: 8px;
        }

        .episode:hover {
            background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(22, 15, 15, 1) 35%, rgba(45, 48, 50, 1) 100%);
        }

        .episode-image {
            display: flex;
            flex-direction: row;
        }

        .episode-number-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .episode-number {
            height: 100%;
            width: 50px;
            font-size: 26px;
            color: gray;
        }

        .episode-title {
            color: white;
            text-align: left;
            width: 100%;
        }

        .episode-description {
            line-height: 19px;
            overflow: hidden;
            height: 76px;
            color: gray;
            font-size: 14px;
            text-align: left;
            margin-right: 30px;
        }

        .modal-exit {
            font-size: 40px;
            /*bottom: 72%;*/
            /*left: 45%;*/
            bottom: 50vh;
            left: 20vw;
            /*position: -webkit-sticky;*/
            /*position: sticky;*/
            /*top: -2000px;*/
            color: black;
        }

        .exit-button {
            position: absolute;
            bottom: 15em;
            right: 25px;
        }

        {#======================
                Buttons
        ======================#}

        .profile_button {
            color: gray;
            padding: .5em 1.5em;
            letter-spacing: 2px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid grey;
            text-decoration: none;
            flex-wrap: nowrap;
        }

        .my-list-button {
            color: gray;
            padding: .5em 1.5em;
            letter-spacing: 2px;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid grey;
            text-decoration: none;
        }

        .dropdown_submit {
            font-size: 13px;
            display: flex;
            flex-direction: row;
            background: none !important;
            border: none;
            color: white;
            cursor: pointer;
            margin-left: 5px;
            line-height: 40px;
        }


        .dropdown_submit:hover {
            text-decoration: underline;
        }

        .hide-button-wrapper {
            margin-left: -25px;
            writing-mode: vertical-rl;
            text-orientation: upright;
            text-decoration: none;
            text-align: center;
        }

        .hide-button {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            color: gray;
            font-weight: bold;
            background: linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(22, 15, 15, 1) 35%, rgba(45, 48, 50, 1) 100%);
            height: 150px;
        }

        {#======================
                Navigation
         ======================#}

        .navbar_wrapper {
            display: flex;
            /*background: rgb(0, 0, 0);*/
            background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(1, 1, 1, 1) 35%, rgba(40, 40, 40, 1) 100%);
        }

        .navbar {
            padding-top: 0px;
            overflow: hidden;
            width: 100%;
            gap: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }

        .navbar a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
        }

        .navbar a:hover {
            opacity: 0.8;
        }

        .navbar_end {
            gap: 20px;
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .navbar_logo {
            margin-left: 30px;
            height: 31px;
            margin-right: 15px;
        }

        .userAvatar {
            width: 30px;
            border-radius: 4px;
            margin-right: 25px;
        }

        #search {
            display: flex;
            float: right;
            margin-top: 12px;
        }

        .searchInput {
            font-size: 15px;
            font-family: var(--bs-body-font-family), bootstrap-icons;
            height: 35px;
            width: 300px;
            border: 1px solid gray;
            border-radius: 7px;
        }

        {#======================
                Content
        ======================#}

        .movie_container {
            margin-left: 30px;
        }

        .movie {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            grid-gap: 25px;
            grid-template-columns:
            repeat(6, minmax(270px, 1fr));
        }

        /*.movie > .hide-button-wrapper {*/
        /*    grid-gap: 25px;*/
        /*}*/

        .movie-hero {
            transition: transform 0.3s;
            cursor: pointer;

        }

        .movie-hero:hover {
            transition: transform 0.3s;
            -ms-transform: scale(1.3);
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

        .movie-hero-image {
            border-radius: 2px;
            width: 270px;
            height: auto;
        }

        {#======================
                 Dropdown
         ======================#}

        .dropdown {
            width: 8%;
            left: 0;
        }

        .dropdown-content {
            transform-origin: top center;
            animation: growDown 200ms ease-in-out forwards;
            margin-top: 55px;
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            border: 1px solid gray;
            border-radius: 3px;
            min-width: 135px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            font-family: var(--bs-body-font-family), bootstrap-icons;
            font-size: 13px;
            color: white;
            text-decoration: none;
            text-align: center;
        }

        .dropdown-content a:hover {
            text-decoration: underline;
        }

        .dropdown:hover .dropdown-content {
            margin-right: 10px;
            flex-direction: column;
            display: flex;
            min-height: 100px;
        }

        @keyframes growDown {
            0% {
                transform: scaleY(0)
            }
            80% {
                transform: scaleY(1.1)
            }
            100% {
                transform: scaleY(1)
            }
        }

        @keyframes blowUpModal {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }

        /*@keyframes blowUpContent {*/
        /*    0% {*/
        /*        transform:scale(1);*/
        /*        opacity:1;*/
        /*    }*/
        /*    99.9% {*/
        /*        transform:scale(2);*/
        /*        opacity:0;*/
        /*    }*/
        /*    100% {*/
        /*        transform:scale(0);*/
        /*    }*/
        /*}*/

        /*@keyframes blowUpContentTwo {*/
        /*    0% {*/
        /*        transform:scale(2);*/
        /*        opacity:0;*/
        /*    }*/
        /*    100% {*/
        /*        transform:scale(1);*/
        /*        opacity:1;*/
        /*    }*/
        /*}*/

        /*@keyframes blowUpModalTwo {*/
        /*    0% {*/
        /*        transform:scale(1);*/
        /*        opacity:1;*/
        /*    }*/
        /*    100% {*/
        /*        transform:scale(0);*/
        /*        opacity:0;*/
        /*    }*/
        /*}*/

        .dropdown-profile {
            align-content: center;
            font-size: 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .profile_wrapper {
            display: flex;
            flex-direction: row;
        }

        .form-control {
            width: 30%;
            height: 100%;
            border: none;
            border-radius: 5px;
            padding: 0;
            margin-left: 10px;
        }

    </style>
{% endblock %}
