{% extends 'movies/index.html.twig' %}

{% block body %}

 <body>
     <section class="movie_container">
             <div class="movie">

                 {% if movies is defined %}

                     {% if movies is empty %}
                         Nie znaleziono wyniku wyszukiwania.
                     {% endif %}

                     <div class="movie">
                         {% for movie in movies %}
                             <a class="movie-hero" onclick="showModal({{ movie.id }})
                                     // document.getElementById('navbar').style.background='rgba(0, 0, 0, .7)'
                                     ">
                                 <img class="movie-hero-image" src="{{ movie.img }}" alt="{{ movie.title }}">
                             </a>
                             {% if is_granted('ROLE_ADMIN') %}
                                 <a class="hide-button-wrapper"
                                    href="{{ path('hide', {'id': movie.id}) }}">
                                     <div class="hide-button">
                                         <i class="bi bi-arrow-bar-left"></i>
                                     </div>
                                 </a>
                             {% endif %}
                             <div id="{{ movie.id }}" class="modal" >
                                 <div class="modal-background" onclick="hideModal({{ movie.id }})"></div>
                                 <div class="modal-sizing">
                                     <div class="modal-content" id="modal-content">
                                         <div class="modal-header"
                                                 {#                                 style="background-image: url({{ movie.img }})" #}
                                         >
                                             <a class="modal-image" href="{{ path('show-one', {'id': movie.id}) }}"
                                                style="text-decoration: none">
                                                 <img class="modal-image" src="{{ movie.img }}" alt="movie_image">
                                             </a>

                                             <div class="exit-button">
                                    <span onclick="hideModal({{ movie.id }})"
                                          class="bi bi-x-circle-fill modal-exit"></span>
                                             </div>
                                         </div>
                                         <div class="modal-desc">
                                             <div class="modal-movie-info-primary">
                                                 <h2 class="modal-title">{{ movie.title }}</h2>
                                                 <p class="modal-movie-description">{{ movie.description }}</p>
                                             </div>
                                             <div class="modal-movie-info-secondary">
                                                 {{ movie.year }}
                                                 {#                                    <a class="profile_button" href="{{ path('show-one', {'id': movie.id}) }}"> Oglądaj teraz </a>#}
                                                 <div class="modal-movie-info-secondary-categories">
                                                     <p style="color: gray;display: inline-block">Kategorie:</p>
                                                     {% set categoryArray = { } %}  {# initialize category array #}
                                                     {% for key, category in movie.categories %}
                                                         {% set categoryArray = categoryArray|merge({(key~'_'): category.name}) %} {# merge to the array, convert key to string, int doesnt work #}
                                                     {% endfor %}
                                                     {{ categoryArray|join(', ') }}  {# implode array #}
                                                 </div>
                                             </div>
                                         </div>
                                         <div>
                                             {% if is_granted('ROLE_ADMIN') %}
                                                 <a class="my-list-button" style="color:red;border: 1px solid red" href="{{ path('hide', {'id': movie.id}) }}">Ukryj film</a>
                                             {% endif %}
                                         </div>
                                         <div style="margin-top: 20px">
                                             {% if movie.isLiked == true %}
                                                 <a class="my-list-button" href="{{ path('dislike', {'id': movie.id}) }}"> Usuń z mojej listy</a>
                                             {% else %}
                                                 <a class="my-list-button" href="{{ path('like', {'id': movie.id}) }}"> Dodaj do mojej listy</a>
                                             {% endif %}
                                         </div>
                                         {% if movie.episodes != null %}
                                             <div class="modal-movie-episodes">
                                                 <div class="modal-movie-episodes-header">
                                                     <p>Odcinki</p>
                                                     <label>
                                                         <select>
                                                             <option>Sezon 1</option>
                                                             <option>Sezon 2</option>
                                                         </select>
                                                     </label>
                                                 </div>
                                                 <div class="episode-wrapper">
                                                     {% for key, episode in movie.episodes %}
                                                         <div class="season{{ episode.season }}">
                                                             <a href="{{ path('watch-one', {'id': episode.id}) }}">
                                                                 <div class="episode">
                                                                     <div class="episode-image">
                                                                         <div class="episode-number-wrapper">
                                                                             <div class="episode-number">{{ key }}</div>
                                                                         </div>
                                                                         <img style="height: 100px;margin-right: 20px;border-radius: 4px"
                                                                              src="{{ asset('images/episode.jpg') }}"
                                                                              alt="episode_image"/>
                                                                     </div>
                                                                     <div class="episode-content">
                                                                         <div class="episode-title">
                                                                             {{ episode.name }}
                                                                         </div>
                                                                         <div class="episode-description">
                                                                             {{ episode.description }}
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </a>
                                                         </div>
                                                     {% endfor %}
                                                 </div>
                                             </div>
                                         {% endif %}
                                     </div>
                                 </div>
                             </div>
                         {% endfor %}
                     </div>

                 {% else %}
                     Nie znaleziono filmów dla tej kategorii.
                 {% endif %}

             </div>
     </section>
 </body>

{% endblock %}

{% block footer %} {% endblock %}
