{% extends 'movies/index.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

 {% block body %}

    {% block logo %}
        {{ parent() }}
    {% endblock %}

    {% block navigation %}
        {{ parent() }}
    {% endblock %}

        <section class="main-container">
        <div class="location" id="home">
            <h1 id="home" class="title-home"></h1>
            <div class="box">
                {% for movie in movies %}
                    <a href="/show/{{movie.id}}"><img src="{{movie.img}}" alt="{{movie.title}} jacket"></a>
                {% endfor %}
            </div>
        </div>
    </section>
     <body></body>

{% endblock %}