{% extends 'movies/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .btn {
            width: 3.3%;
        }

        i {
            align-items: center;
        }
    </style>
{% endblock %}

 {% block navigation %}
 {% endblock %}

{% block body %}
    <body>
    <div class="container my-5">
        <div class="row">
            <div class="col-2 col-sm-12"></div>
            <div class="col-8 col-sm-12 text-center">
                <div class="jumbotron jumbotron-dark bg-darkness">

                    <iframe width="640" height="480" src="{{ movie.link }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <div class="mt-3">
                        <small>
                            <h3 class="title my-3" href='#'>{{ movie.title }}</h3>
                            <p>Opis : <br>{{ movie.description }}</p>
                            <p>Rok : {{ movie.year }} <br>
                                Kategorie :

                                {% for category in categories %}
                            <li> {{ category.name }}</li>
                            {% endfor %}
                            </p>
                        </small>
                        {% if liked is defined %}
                            <form id="dislike" method="POST" action="{{ path('dislike') }}">
                                <input type="text" name="id" value="{{ movie.id }}" style="display: none">
                                <a class="profileButton"
                                   href="#"
                                   onclick="document.getElementById('dislike').submit()">Usuń z mojej listy</a>
                            </form>
                        {% else %}

                            <form id="like" method="POST" action="{{ path('like') }}">
                                <input type="text" name="id" value="{{ movie.id }}" style="display: none">
                                <a class="profileButton"
                                   href="#"
                                   onclick="document.getElementById('like').submit()">Dodaj do mojej listy</a>

                            </form>

                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-2 col-sm-12"></div>
        </div>
    </div>
    </body>
{% endblock %}
