{% extends 'movies/index.html.twig' %}

{% block title %}
    {% if movie is defined and movie is not null and movie is not empty %}
    <title>{{ movie.name }} - Netflix</title>
    {% endif %}
{% endblock %}

{% block navigation %}
    <div class="navbar">
        <div class="brandLogoWrapper">
            <a class="logo" href="{{ path('browse') }}" target="_parent">
                <img class="logo" src="{{ asset('images/netflixLogoSmall.svg.png') }}" alt="av1"/>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if movie is defined and movie is not null and movie is not empty %}
    <body>
    <div class="movie_container">
        <div class="text-center">
            <div>
                <iframe width="1720" height="800" src="{{ movie.source }}?autoplay=1" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
{#                <h3>{{ movie.title }}</h3>#}
{#                <p>Opis : <br>{{ movie.description }}</p>#}
{#                <p>Rok : {{ movie.year }} <br>#}
{#                <p>Kategorie :</p>#}
{#                {% for category in categories %}#}
{#                    <li> {{ category.name }}</li>#}
{#                {% endfor %}#}
            </div>

{#            <div style="margin-top: 20px">#}
{#                {% if liked is defined %}#}
{#                    <form id="dislike" method="POST" action="{{ path('dislike') }}">#}
{#                        <input type="text" name="id" value="{{ movie.id }}" style="display: none">#}
{#                        <a class="my-list-button"#}
{#                           onclick="document.getElementById('dislike').submit()">Usuń z mojej listy</a>#}
{#                    </form>#}
{#                {% else %}#}
{#                    <form id="like" method="POST" action="{{ path('like') }}">#}
{#                        <input type="text" name="id" value="{{ movie.id }}" style="display: none">#}
{#                        <a class="my-list-button"#}
{#                           onclick="document.getElementById('like').submit()">Dodaj do mojej listy</a>#}
{#                    </form>#}
{#                {% endif %}#}
{#            </div>#}
        </div>
    </div>
    </body>
    {% endif %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/moviePlayer.css') }}">
{% endblock %}

{% block footer %} {% endblock %}

