{% extends 'admin/base.html.twig' %}

{% block title %}Filmy - Netflix{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        td{
            height: 100px;
        }
        .btnWrapper{
            height: 100%;
            display: flex;
            gap:10px;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <h2>Filmy</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Img</th>
                <th>Link</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.year }}</td>
                <td><img src="{{ movie.img }}" style="width: 150px"></td>
                <td>{{ movie.link }}</td>
                <td>
                    {% if movie.active != null %}
                      True
                    {% else %}
                      False
                    {% endif %}

                </td>
                <td>
                    <div class="btnWrapper">
                        <a class="profileButton" href="{{ path('app_movie_crud_show', {'id': movie.id}) }}">wyświetl</a>
                        <a class="profileButton" href="{{ path('app_movie_crud_edit', {'id': movie.id}) }}">edytuj</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="profileButton" href="{{ path('app_movie_crud_new') }}">Dodaj</a>
    <a class="profileButton" href="{{ path('admin_panel') }}">Wróć</a>
{% endblock %}
